.intestazione{
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background-color:dodgerblue;
}

table{
    border-spacing: 0;
    height: 200px;
    text-align: left;
}
tr {
    background-color: turquoise;
    
}

th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
}

.colorecella{
    background-color: white;
}

.specifiche{
    background-color: dodgerblue;
}

.potrebberointeressarti{
    color: grey;
}

.container {
    position: relative;
    text-align: center;
    color: white;
   }

.giallo {
    background-color: yellow;
}

.azzurro{
    color: dodgerblue;
}

.scritto{
    font-size: 15px;
    color: grey;
}